body {
	font-family: aqua;
    margin: 0;
}

a {
	text-decoration: none;
    outline: 0;
}

a:visited, a:link {
    color: black;
}
label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

.navbar {
  text-align: right;    
  border-bottom: 1px solid lightgrey;
  top: 0;left: 0;right: 0;
  font-size: 1.5em;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right:0;
}

.body {
    margin: 2.5%
}
